.history-page-container {
  font-family: 'Roboto', sans-serif;
}

.history-header h4 {
  color: #333;
}

.history-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.history-card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.history-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.back-button {
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
