body {
    background-image: url('./assets/background.jpg'); /* Path to background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif; /* Material-UI default font */
  }
  